<!DOCTYPE html>
<html>
  <head>
    <title>Buengusto</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <!-- NAVBAR
    ================================================== -->
    <div class="navbar-wrapper">
      <!-- Wrap the .navbar in .container to center it within the absolutely positioned parent. -->
      <div class="container">

        <div class="navbar navbar-inverse">
          <div class="navbar-inner">
            <!-- Responsive Navbar Part 1: Button for triggering responsive navbar (not covered in tutorial). Include responsive CSS to utilize. -->
            <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <%= link_to root_path, class: "brand" do %>
              <i>BuenGusto.com</i>
            <%end%>
            <!-- Responsive Navbar Part 2: Place all navbar contents you want collapsed withing .navbar-collapse.collapse. -->
            <div class="nav-collapse collapse">
              <ul class="nav pull-right">
                <li><a href="http://getbootstrap.com/2.3.2/examples/carousel.html#">INICIO</a></li>
                <li><a href="http://getbootstrap.com/2.3.2/examples/carousel.html#about">CATEGORIAS</a></li>
                <li><a href="http://getbootstrap.com/2.3.2/examples/carousel.html#contact">NOSOTROS</a></li>
                <li><a href="http://getbootstrap.com/2.3.2/examples/carousel.html#contact">CONTACTO</a></li>
                <% if user_signed_in? %>
                  <li><%= link_to current_user.email, edit_user_registration_path %></li>
                <%else%>
                  <li><%= link_to "LOGIN", new_user_session_path %></li>
                <% end %>
                
              </ul>
            </div><!--/.nav-collapse -->
          </div><!-- /.navbar-inner -->
        </div><!-- /.navbar -->

      </div> <!-- /.container -->
    </div><!-- /.navbar-wrapper -->
    <%= yield %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </body>
</html>
